body {
  background-color:#662cab;
  color: white
}

#pink-1, #pink-2 {
  filter: drop-shadow(10px 10px 100px #f4703f);
}

#pink-2 {
  filter: drop-shadow(100px 10px 100px #d83787);
}

#orange-1, #orange-2 {
  filter: drop-shadow(10px 10px 100px #fdca6f);
}

#light-orange {
  filter: drop-shadow(10px 10px 100px #d83787);
}


.color-waves {
  position: fixed;
  margin:0;
  width:100%;
  height:auto
}

/* .color-blob {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20%;
  width:10em
} */

/* .purple {
  /* border: solid 5em rgb(67, 17, 204); */
 
/* } */

.purple{
            margin:0 auto;
            position:relative;
            width:200px;
            height:200px;
            border-top:200px solid red;
            border-left:1px solid red;
            border-top-left-radius:200px;
            float:left;
            margin-left:100px;
            box-shadow:inset 0 1px 0 black;
            }
    
            .purple:after{
            content:"";
            position:absolute;
            width:196px;
            height:196px;
            border-top:1px solid red;
            border-left:1px solid red;
            border-top-left-radius:196px;
            left:4px;
            top:4px;
            box-shadow:0 1px 0 black;
            }

.pink {
  border: solid 5em rgb(204, 17, 126);
}