body {
  /* background-image: linear-gradient(to top right, rgb(55, 0, 255), #662cab); */
  background: coral;
  color: white;
  background-image: url('https://imgur.com/L4gzvv1');
  height: 1080px;
  width: auto;
  /* width:auto */
}

.color-waves {
  position: fixed;
  margin:0;
  width:100%;
  background-size: cover;
  opacity: .83;
}

#pink-1, #pink-1b {
  filter: drop-shadow(1px 1px 100px #f4703f);
}

#pink-1b, #light-orange-b, #pink-2b, #orange-2b, #orange-1b {
  transform: rotateX(180deg);
}

#light-orange, #light-orange-b, #pink-2, #pink-2b, #orange-2, #orange-2b {
  filter: drop-shadow(1px 1px 100px #d83787);
}

#orange-1, #orange-1b {
  filter: drop-shadow(1px 1px 100px #fdca6f);
}

.card {
  /* Add shadows to create the "task-card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: cornsilk;
  transition: 0.3s;
  width: 20%;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the task-card container */
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: cornsilk;
  color:black
  /* padding: 2px 16px; */
}

/* div {
  display: flex;  
  flex-wrap: wrap;
} */

/* h1, h2, p {
  position: absolute;
  width:100%;
  height:auto;
  margin: 0;
  margin-top: 20%;
  text-align: center;
  font-size: 5em;
} */

/* p, h2 {
  margin-top: 30%;
  font-size: 3em;
} */

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}

#nav-bar ul {
  display: flex;
  list-style: none;
}

#nav-bar ul li {
  margin-right: 20px;
}

form {
  background: white;
  position: relative;
  align-content: center;
  height: 40%;
  width: 40%;
  margin:auto;
  margin-top: 15%;
  color: coral;
  font-size: 30px;
  padding: 2em;
}

#username-field {
  color:black;
  font-size: 20px;
}

li {
  list-style: none;
}